@charset "utf-8";
/* CSS Document */

body{
	font-size:0.8em;
}

header{
	display:none !important;
}


input{
	display:none !important;
}

.detailAbonnement{
	margin-bottom:4px;
}

.detailAbonnement li{
	margin-bottom:5px;
}

h1{
	margin-bottom:-5px !important;
	margin-top:-28px !important;
	font-size:1.4em;
}

h3{
	margin-bottom:2px !important;
}

.cache{
	display:none;
}

.description{
	margin-bottom:2.5px;
	min-height: 226px !important;
}

.description p, .reglements p{
	font-size:0.75em;
	line-height:11px;
}

.reglements{
	margin-bottom:0;
}

hr{
	display:none;
}